@use "../../components/App/vars" as *;

.movies {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  margin: 0 auto;

  &__error-message {
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: -0.04em;
    color: $text-white;
    width: 90%;
    transition: all .4s;
  }
}

@media screen and (max-width: 594px) {
  .movies__error-message {
    font-size: 18px;
    line-height: 23px;
  }
}