// backgrounds
$prime-backgroundcolor: #202020;

// buttons
$button-green: #3DDC84;
$button-grey: #303030;
$grey-backgroundcolor: #272727;

//text
$text-white: #fff;
$text-grey: #8b8b8b;
$text-black: #000;
$text-blue: #4285F4;

//decoration
$dividing-line-color: #dadada;